@media only screen and (max-device-width: 1300px){

  /*Navbar*/

  .navbar i{
    display: block;
}

.navbar__list{
  display: flex;
  justify-content: right;

}

.navbar__list{
  background-color: var(--white);
  width: 50%;
   position: absolute;
  top: 100px;
  right: 0;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  border: 3px solid var(--brown);
  transform: translateX(200%);
  transition: all 0.8s ease-out;
    }

.toggle-label{
order: 2;
position: absolute;
right: 100px;
}  
 
#toggle-menu:checked ~ .navbar__list{
  transform: translateX(0%);
  transition: all 0.8s ease-in;
}


  /*Index*/

  #nosotros,  #food{
    height: 500px;
    padding: 1rem 0.5rem;
  }

  p{
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  h2{
    font-size: 3rem;
    letter-spacing: 0.8rem;
  }

  h3{
    font-size: 1.5rem;
  }


  .container{
    padding: 2rem;
  
  }

  .nosotros__datos img, .food__container__datos img{
    width: 380px;
    height: 280px;

  }

  #hotel, #contacto{
    padding: 0;
    height: 550px;
  }

  .premios__container img{
    width: 150px;
    height: 150px;
  }

  /*PÁGINA RESTAURANTE*/

  .intro-resto__container img{
    width: 500px;
    height: 320px;
  }

  .grid-container{
    grid-template-columns: 250px 200px 100px 250px;
  
}

}


@media only screen and (max-device-width: 992px){

  .nosotros__datos{
    gap:2rem;
  }
  .nosotros__datos__parrafo{
    gap: 0.8rem;
  }

  .nosotros__datos__parrafo span{
    font-size: 1.2rem;
       
}
  
  h2{
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
  }

  .food__container__datos{
    gap: 2rem;
    }

.food__container__datos__p h3{
      font-size: 1.2rem;
  }

  
  .nosotros__datos img, .food__container__datos img{
    width: 340px;
    height: 240px;

  }

       /*paginas*/

       .h1-pages{
        height: 300px;

      }


      /*PÁGINA RESTAURANTE*/

      .intro-resto__container{
padding: 2rem;
      }

  .intro-resto__container img{
    display: none;
  }
 
    .grid-container{
      grid-template-columns: 200px 150px 100px 200px;
    
  }

  .form-reservas{
    flex-direction: column;
      }

}

@media only screen and (max-device-width: 768px){

  #hero{
    height: 600px;
  }

  .hero__titulos h1{
    font-size: 4rem;
    letter-spacing: 1.8rem;
    
}

.hero__titulos p{
  font-size: 1.5rem;
  letter-spacing: 0.8rem;

}

.overflow{
  display: none;
}

.nosotros__datos img, .food__container__datos img{
  width: 280px;
  height: 180px;

}
 
  .hotel__hab__cont{
  gap: 1rem;
  padding: 0.5rem;
  }

  .food__container__datos__p{
    gap: 0.8rem;
    }

    .food__container__datos__p h3{
      font-size: 1rem;
      letter-spacing: 0.4rem;
  }

    .food__container__datos__p .btn{
      width: 200px;
    font-size: 0.8rem;
      }

  /*PÁGINA RESTAURANTE*/
     
        .galeria-food{
          display: none;
      }

      .horarios__container{
        flex-direction: column;
        gap: 0;
      }

      .horarios__container ul li{
        font-size: 1rem;
        padding: 0.5rem;

      
      }
      

}



@media only screen and (max-device-width: 576px){

  .header{
    padding: 1rem;
  }

  .header__logo{
    width: 150px;
    height: 80px;
  }

  /*Section Hero*/

#hero{
  background-image: url(../assets/img/section-hero-mq.png);
  height: 500px;
}

.hero__titulos h1{
  font-size: 2.8rem;
  letter-spacing: 1.6rem;

}

.hero__titulos p{
  font-size: 1rem;
  letter-spacing: 0.8rem;

}

/*Section Nosotros*/

  .nosotros__datos img, .food__container__datos img{
    display: none;
  }

  .container h2{
    justify-content: left;
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }

  .nosotros__container, .hotel__container, .food__container{
    justify-content: start;
    padding: 1rem 2rem;
  }

  #nosotros{
    height: 300px;
  }

  #food{
    height: 430px;
  }

    #hotel{
      background-image: none;
      height: 1000px;
    }

   #contacto{
      height: 750px;
    }

    #hotel h3{
     font-size: 1.5rem;
     letter-spacing: 0.5rem;
    }

    .hotel__hab__cont{
   flex-direction: column;
   padding: 1rem;
    }

    .hotel__hab__cont__card{
      width: 100%;
     
  }

  .form-container{
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .formulario input {
    padding: 0.5rem;
   }

   
.premios__container{
  padding: 0.5rem;
  justify-content: space-between;
}

   .premios__container img{
    width: 90px;
    height: 90px;
    }

    .footer_container_dire{
      font-size: 1rem;
  }
  
  .footer_container_tel{
    font-size: 0.8rem;
  }

}