@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #754628;
    --black: #000;
    --white: #fff;
    --azul: #17466b;
    --gray:#8a8787;
    --crema: #E9E9E2;
  
  }
  

section{
    width: 100%;
    padding: 5rem;
}

a{
    text-decoration: none;
}


h2{
    color: var(--brown);
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;

}

.divisor{
background: var(--brown);
height: 0.2rem;
width: 300px;
display: block;
}

.btn{
    background-color: var(--brown);
    cursor: pointer;
    padding: 8px 15px;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    border-radius: 0.5rem;  
    border: transparent; 
    width: 230px;
    height: 45px;
}

.btn a{
  text-decoration: none;
  color: var(--white);
}


/*Header y navbar*/
.header{
    width: 100%;
    height: 100px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 10px;
    border-bottom: 3px solid var(--brown);
 
}

.header__logo{
    width: 200px;
    height: 100px;
}

.navbar{
    width: 50%;
    padding-left: 40px;
}

.navbar__list{
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.navbar__list li a{
    color: var(--brown);
    transition: all 1s;
}

.navbar__list li:hover{
  transform: scale(1.1);
}

.header__icons{
    display: flex;
    gap: 40px;
   
}

.icons{
    color: var(--brown);
    font-size: 1.5rem;
}

/*Section Hero*/

#hero{
    background-image: url(../assets/img/section-hero.webp);
    height: 770px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid var(--brown);
    /*box-shadow: 0px 15px 10px -15px #8a8787;*/
    

}


.hero__titulos{
    max-width: 1200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.hero__titulos__h1{
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 3rem;
    color: var(--brown);
}

.hero__titulos__sub{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1rem;
    color: var(--brown); 
}

/*Section Nosotros*/

#nosotros{
    height: 650px;
    padding: 4rem;
    display: flex;
    justify-content: center;

}

.nosotros__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nosotros__datos{
display: flex;
gap: 4rem;
}

.nosotros__datos img{
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 2px #8a8787;
}

.nosotros__datos__parrafo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nosotros__datos__parrafo p{
    font-size: 1.3rem;
    color: var(--black);
    font-weight: 300;
    line-height: 2.2rem;
}

.nosotros__datos__parrafo span{
    font-size: 2rem;
    color: var(--brown);
    font-weight: 400;
    letter-spacing: 0.5rem;
    
}

/*Section Hotel*/

#hotel{
    background-image: url(../assets/img/hotel.webp);
    height: 800px;
    display: flex;
    justify-content: center;
}

.hotel__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
   
}

.hotel__container h3{
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 300;
    letter-spacing: 0.8rem;
    display: flex;
    justify-content: center;
}

.hotel__hab{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column; 
    padding: 1rem;
 }



.hotel__hab__cont{
    display: flex;
    justify-content: space-around;
    padding: 1rem;

}

.hotel__hab__cont__card{
    width: 350px;
    height: 200px;
    background-color: var(--white);
    border-radius: 0.5rem;
    position: relative;

    
}

.hotel__hab__cont__card p{
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0.5rem;    
    letter-spacing: 0.8rem;
    border-radius: 0.5rem;
}

.simple{
    background-image: url(../assets/img/simple.png);
}

.triple{
    background-image: url(../assets/img/triple.png);
}

.twin{
    background-image: url(../assets/img/twin.png);
}

.hotel__reservas{
    width: 80%;
    height: 200px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 2rem;
} 

/*Section wine y food*/

#food{
  height: 650px;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }


 .food__container{
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.food__container h2{
  display: flex;
  justify-content: right;
}

.food__container__datos{
display: flex;
gap: 4rem;
}

.food__container__datos img{
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px #8a8787;
}

.food__container__datos__p{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.food__container__datos__p p{
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 300;
  line-height: 2.2rem;
}

.food__container__datos__p h3{
  font-size: 2rem;
    color: var(--brown);
    font-weight: 400;
  
}


/*Contacto*/
#contacto{
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
  background-image: url(../assets/img/contacto.jpg);
 background-size: cover;
 padding: 3rem;
}

.contacto__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;

}

.contacto__container__form{
  width: 100%;
 display: flex;
 align-items: center;
 gap: 5rem;
}

.contacto__container__form iframe{
    width: 500px;
    height: 370px;
    border-radius: 0.2rem;
}

.formulario {
    max-width: 700px;
    width: 95%;
    padding: 2rem;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: left;
    border-radius: 0.2rem;
   
  }
  .formulario label {
    display: block;
    text-align: left;
    font-size: 1rem;
  }
  .formulario input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    border: none;
  }

  .formulario .btn{
   color: var(--white);
   border-radius: 0.2rem;
  
  }
 
  .formulario .btn:hover {
    font-weight: bold;
    border: 2px solid var(--black);
  }
  .formulario textarea {
    width: 100%;
    height: 100px;
    border-radius: 0.2rem;
    margin: 8px 0;
    padding: 3px;
    resize: none;
      color: var(--gray);
    font-size: 0.8rem;
    border: none;
  }


  /*Fin CSS formulario*/

  
/*Section premios*/

#premios{
  height: 200px;
  padding: 4rem;
  display: flex;
  justify-content: center;

}

.premios__container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 6rem;
}

.premios__container img{
width: 200px;
height: 200px;
filter: grayscale();

}

 /*Footer*/ 

.footer{
    background-image: url(../assets/img/footer-vector2.png);
    width: 100%;
    height: 500px;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.flecha{
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
}

.footer__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    gap: 2rem;
    color: var(--white);
}

.footer_container_dire{
    font-size: 1.5rem;
    font-weight: 300;
}

.footer_container_tel a{
    color:var(--white);
}

.footer__container__redes{
    display: flex;
    gap: 2rem;
}

.footer__container__redes a{
    color: var(--white);
    font-size: 2rem;
    
}


